# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnpm-store/
/.pnp
.pnp.js

# testing
/coverage
web/coverage/
/playwright-report/
/test-results/

# database
# next.js
.next/
web/.next-e2e/
web/next-env.d.ts
web/out/

# production
/build

# misc
.DS_Store
*.pem
todo.md

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env.client
web/.env.client.cloud-ui

# vercel
.vercel

# typescript
*.tsbuildinfo

# build output
dist/
