@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

.main {
    background-color: #181d2b;
    @apply text-white;
}

.content {
    padding-top: 108px;
    height: 100%;
}

.colorPrimary {
    color: #FF5668;
}

.bg-colorPrimary {
    background-color: #FF5668;
}

.card {
    background-color: #262e43;
    border-color: #181d2b;
}

.gradientFromWhiteToPrimary {
    --tw-gradient-from: #ff9497;
    --tw-gradient-to: #FF5668;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.vertical-line {
    width: 1px;
    opacity: 0.3;
    background-color: #25C472;
    height: 40%;
}

.bg-grid {
    background-image: url(/images/logo/CV_Web-Background_3D_Grid.png);
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: bottom;
}

@media (max-width: 1024px) { 
    .bg-grid {
        background-image: unset;
        background-size: contain;
        background-position-x: right;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }
}
