@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/red-hat-display-2');

body {
    font-family: 'Guaruja Neue', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.colorPrimary {
    color: #FF5668;
}

.gradientFromWhiteToPrimary {
    --tw-gradient-from: #ff9497;
    --tw-gradient-to: #FF5668;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}