@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;1,300&display=swap');

.pricingCard {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#262e43),
        to(#191f31)
    );
    background-image: linear-gradient(180deg, #262e43, #191f31);
    border-radius: 1rem; /* 16px */
    border-color: rgb(75 85 99);
    border-style: solid;
    border-width: 1px;
}

.zmBrowserImgChrome {
    background-image: url(/images/badges/chrome_extension.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    /* cursor: pointer; */
    flex: 1 0 50%;
    height: 4rem;
}

.zmBrowserImgFox {
    background-image: url(/images/badges/firefox_extension.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    /* cursor: pointer; */
    flex: 1 0 25%;
    height: 2.5rem;
}
